ClientSOAP/src/main/java/proxy/BankWs.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.example.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.example.org/" name="BankWs">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.example.org/" schemaLocation="http://localhost:8089/?xsd=1"/>
</xsd:schema>
</types>
<message name="Conversion">
<part name="parameters" element="tns:Conversion"/>
</message>
<message name="ConversionResponse">
<part name="parameters" element="tns:ConversionResponse"/>
</message>
<message name="GetCompte">
<part name="parameters" element="tns:GetCompte"/>
</message>
<message name="GetCompteResponse">
<part name="parameters" element="tns:GetCompteResponse"/>
</message>
<message name="CompteList">
<part name="parameters" element="tns:CompteList"/>
</message>
<message name="CompteListResponse">
<part name="parameters" element="tns:CompteListResponse"/>
</message>
<portType name="BankService">
<operation name="Conversion">
<input wsam:Action="http://ws.example.org/BankService/ConversionRequest" message="tns:Conversion"/>
<output wsam:Action="http://ws.example.org/BankService/ConversionResponse" message="tns:ConversionResponse"/>
</operation>
<operation name="GetCompte">
<input wsam:Action="http://ws.example.org/BankService/GetCompteRequest" message="tns:GetCompte"/>
<output wsam:Action="http://ws.example.org/BankService/GetCompteResponse" message="tns:GetCompteResponse"/>
</operation>
<operation name="CompteList">
<input wsam:Action="http://ws.example.org/BankService/CompteListRequest" message="tns:CompteList"/>
<output wsam:Action="http://ws.example.org/BankService/CompteListResponse" message="tns:CompteListResponse"/>
</operation>
</portType>
<binding name="BankServicePortBinding" type="tns:BankService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Conversion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetCompte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CompteList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BankWs">
<port name="BankServicePort" binding="tns:BankServicePortBinding">
<soap:address location="http://localhost:8089/"/>
</port>
</service>
</definitions>